{template 'user/head.html'}
<script LANGUAGE="javascript">
    <!--
    function CheckForm()
    {
        if (document.myform.pwdconfirm.value!=document.myform.password.value)
        {
            alert("{lang(twicepassnosame)}")
            document.myform.password.value = ""
            document.myform.pwdconfirm.value = ""
            document.myform.password.focus()
            document.myform.password.select()
            return false
        }

        document.myform.submit.disabled=true;
    }
    //-->
</script>

<div class="tags">

  <div id="tagstitle">
	<ul>
	  <li id="one1" class="hover">更改密码</li>
	</ul>
  </div>

 <div id="tagscontent"> 
 <div id="con_one_1">
 
  <div class="table_td" style="margin-top:10px;">



<form name=myform onsubmit="return CheckForm();" action="<?php echo uri();?>" method=post>
<table border="0" cellspacing="1" cellpadding="4" class="list" name="table" id="table" width="100%"> 

					<tbody>
                <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                    <td class="left">{lang(oldpassword)}</td>
                    <td><input id=oldpassword type=password size=15 value=""
                                             name=oldpassword> </td></tr>
                <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                    <td class="left">{lang(newpassword)}</td>
                    <td><input id=password type=password size=15 value=""
                                             name=password></td></tr>
                <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                    <td class="left">{lang(againpassword)}</td>
                    <td><input id=pwdconfirm type=password size=15 value=""
                                             name=pwdconfirm></td></tr>
                <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                    <td height=45></td>
                    <td><input type=hidden value=1 name=dosubmit> <input class=btn type=submit value="{lang(editi)}" name=submit> <input class=btn type=reset value="{lang(clear)}" name=reset></td></tr></tbody></table></form>
                    
             </div></div></div></div>
      
 
    </div>
</div>
    <div class="clear"></div>
     

</div>

{template 'user/foot.html'}