<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=no" name="format-detection">

<meta http-equiv="x-rim-auto-match" content="none">

<title>{getTitle($archive,$category,$catid,$type)}</title>
<meta name="keywords" content="{getKeywords($archive,$category,$catid,$type)}" />
<meta name="description" content="{getDescription($archive,$category,$catid,$type)}" />
<meta name="author" content="CmsEasy Team" />
<link href="{$skin_path}/wap.css" rel="stylesheet" /> 
</head>

<body>
<style type="text/css">
body {background:none;}
</style>

