{template 'header.html'}
<div id="main">
  <div class="lr">


	   <div class="product">
		 <div class="product_title">
           <div style="float:left;"><h2>{$category[$catid][catname]}</h2></div>
           <div style="float:right;">{template 'position.html'}</div>
		 <div style="clear:both"></div>
		 </div>
		 <div class="product_con2">



<!-- 内容列表开始 -->
{loop $archives $i $arc}
<div class="news_text">
<h5><span class="date">{$arc[adddate]}</span><a title="{$arc[stitle]}" target="_blank" href="{$arc[url]}">{$arc[title]}</a></h5>
<p>{cut(strip_tags($arc['introduce']),100)}…<a title="{$arc[stitle]}" href="{$arc[url]}">[{lang(more)}]</a><p>
<div class="clear"></div>
</div>
{/loop}
<!-- 内容列表结束 -->

<div class="blank30"></div>

<!-- 内容列表分页开始 -->
{if isset($pages)}
{category_pagination($catid)}
{/if}
<!-- 内容列表分页开始 -->


<div class="blank30"></div>
<div class="clear"></div>






		 
         </div>
       </div>

  </div>
</div>
{template 'footer.html'}