{template 'header.html'}
<div id="main">
  <div class="lr">


	   <div class="product">
		 <div class="product_title">
           <div style="float:left;"><h2>{$category[$catid][catname]}</h2></div>
           <div style="float:right;">{template 'position.html'}</div>
		 <div style="clear:both"></div>
		 </div>
		 <div class="product_con2">
         
              <!-- 内容 -->
              <?php
              $page = intval(front::$get['page']);
              if($page==0)$page=1;
              $content = $category[$catid][categorycontent];
              $contents = preg_split('%<div style="page-break-after(.*?)</div>%si', $content);
              if ($contents) {
                  $pages = count($contents);
                  front::$record_count = $pages * config::get('list_pagesize');
                  $category[$catid][categorycontent] = $contents[$page - 1];
              }
              ?>
              {$category[$catid][categorycontent]}
              
              <div class="blank30"></div>
              {if $pages>1}
              <!-- 内页分页 -->
              <div class="blank10"></div>
              <div class="pages">
              {category_pagination($catid)}
              </div>
              <div class="blank30"></div>
              {/if}
              <a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/images/gotop.gif"></a>
              <div class="blank30"></div>
              <div class="clear"></div>

         </div>
       </div>

  </div>
</div>
{template 'footer.html'}