{template 'header.html'}
<div id="main">
  <div class="lr">


	   <div class="product">
		 <div class="product_title">
           <div style="float:left;"><h2>{$category[$catid][catname]}</h2></div>
           <div style="float:right;">{template 'position.html'}</div>
		 <div style="clear:both"></div>
		 </div>
		 <div class="product_con">
		 


<div class="wu_product_nner">
<!-- 内容缩略图列表 -->
  <ul>
{loop $archives $i $archive}
   <li><a href="{$archive[url]}" target="_blank"><img src="{$archive[thumb]}"  width="350px;" height="252px;"/></a><br />&nbsp;&nbsp;<a href="{$archive[url]}" target="_blank">{cut($archive[title],12)}</a></li>

{/loop} 
  </ul>	
  <div style="clear:both"></div>
</div>
<!-- 内容缩略图列表结束 -->
<div class="clear"></div>
<div class="blank30"></div>

<!-- 内容列表分页开始 -->
{if isset($pages)}
{category_pagination($catid)}
{/if}
<!-- 内容列表分页结束 -->
	

<div class="clear"></div>






		 
         </div>
       </div>

  </div>
</div>
{template 'footer.html'}