{template 'header.html'}
<div id="main">
  <div class="lr">


	   <div class="product">
		 <div class="product_title">
           <div style="float:left;"><h2>{$category[$catid][catname]}</h2></div>
           <div style="float:right;">{template 'position.html'}</div>
		 <div style="clear:both"></div>
		 </div>
		 <div class="product_con2">
		 



<!-- 内容标题 -->
<div class="r_boxww"><h1>{$archive[title]}</h1></div>
<div class="contentinfo">{lang(author)}：<a>{$archive[author]}</a>&nbsp;&nbsp; {lang(adddate)}：{$archive[adddate]}&nbsp;&nbsp; {lang(view)}：{view_js($archive[aid])}{if $archive[attr3]}&nbsp;&nbsp; {lang(source)}：{$archive[attr3]}{/if}</div>
<div id="content" class="clear">
<!-- 正文 -->
{$archive[content]}
<div class="clear"></div>
</div>

<div class="blank30"></div>


{if $archive[attr2]}
<!-- 价格 -->
<div class="blank10"></div>
{lang(productprice)}： {$archive[attr2]}
{/if}

{if $archive[tag]}
<!-- tag -->
<div class="blank10"></div>
{lang(tag)}： {$archive[tag]}
{/if}

{if $archive[special]}
<!-- 专题 -->
<div class="blank10"></div>
{lang(special)}： {$archive[special]}
{/if}


{if $archive[type]}
<!-- 分类 -->
<div class="blank10"></div>
{lang(type)}： {$archive[type]}
{/if}


{if $archive[area]}
<!-- 地区 -->
<div class="blank10"></div>
{lang(area)}： {$archive[area]}
{/if}

<div class="blank30"></div>
{if $pages>1}
<!-- 内页分页 -->
<div class="blank10"></div>
<div class="pages">
{archive_pagination($archive)}
</div>
<div class="blank30"></div>
{/if}


<!--自动调用自定义字段-->
{$archive['my_fields']}

<div class="blank20"></div>


<?php if(archive_attachment($archive['aid'],'id')) { ?>
<!-- 附件 -->
<p>
{lang(attachment)}：{attachment_js($archive['aid'])}
</p>
<?php } ?>
<div class="blank30"></div>

<?php if(hasflash()) { ?>
<div style="color:red;font-size:16px;"><?php echo showflash(); ?></div><?php } ?>

<!-- 投票 -->
{vote_js($archive[aid])}

<!-- 自定义表单开始 -->
{if $archive['showform']}
{template 'myform/nrform.html'}
{/if}
<!-- 自定义表单结束 -->


<script language="JavaScript">
function shutwin(){
window.close();
return;}
</script>





<!-- 上下页开始 -->
<div id="page">
{if $archive['p']['aid']}
<strong>{lang(archivep)}：</strong><a href="{$archive['p']['url']}">{$archive['p']['title']}</a>
{else}
<strong>{lang(archivep)}：</strong>{lang(nopage)}	
{/if}
<div class="clear"></div>
{if $archive['n']['aid']}
 <strong>{lang(archiven)}：</strong><a href="{$archive['n']['url']}">{$archive['n']['title']}</a>
{else}
<strong>{lang(archiven)}：</strong>{lang(nopage)}	
{/if}
</div>
<!-- 上下页结束 -->

<!-- 相关文章开始 -->
{if is_array($likenews)}
<div class="blank30"></div>
<div class="p_info">{lang(relatedcontent)}：{$archive[tag]}</div>
<div class="blank10"></div>
<ul class="news_list">
  {loop $likenews $item}
<li><a href="{archive::url($item)}">{cut($item['title'],20)}</a></li>
  {/loop}
  </ul>
{/if}
<!-- 相关文章结束 -->


		 
         </div>
       </div>


  </div>
</div>
{template 'footer.html'}